@model ContosoUniversity.Models.Course
@{
    ViewBag.Title = "UpdateCourseCredits";
}

<h2>UpdateCourseCredits</h2>

@if(ViewBag.RowsAffected == null)
{
    using (Html.BeginForm())
    {
        <p>
            Enter a number to mutiply every course's credits by :@Html.TextBox("multiplier")
        </p>
        <p>
            <input type="submit"  value="Update"/>
        </p>
    }
}

@if (ViewBag.RowsAffected != null)
{
    <p>
        受影响的行数:@ViewBag.RowsAffected
    </p>
}
<div>
    @Html.ActionLink("返回主页","Index")
</div>


